---
import { SquareArrowOutUpRight } from "@lucide/astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { meta, about } from "../consts.ts";
---

<Layout title={meta.about.title} description={meta.about.description}>
	<section class="space-y-4">
		<div class="flex items-center justify-between">
			<div>
				<h1 set:html={about.headLine} />
				<p>{about.tagLine}</p>
				<a
					class="btn btn-primary mt-2"
					href={about.resumeHref}
					target="_blank"
					>Open Resume<SquareArrowOutUpRight size="1rem" />
				</a>
			</div>

			<Image
				src={about.profilePic}
				alt="Profile Picture"
				class="w-32 rounded-full"
			/>
		</div>
		<p set:html={about.description} class="text-base-content/80" />
	</section>

	<section class="mt-10 space-y-2">
		<h2>
			<span class="fancy-highlight">Get In Touch</span>
		</h2>
		<p set:html={about.getInTouch} class="text-base-content/80" />
	</section>
</Layout>
