---
import Layout from "../layouts/Layout.astro";
import { meta, about } from "../consts.ts";
---

<Layout title={meta.resume.title} description={meta.resume.description}>
	<section>
		<h2>
			<span class="fancy-highlight">Work Experience</span>
		</h2>
		<div class="flex flex-col gap-6 mt-2">
			{
				about.workExperience.map((exp) => (
					<div>
						<h3>{exp.title}</h3>
						<p>{exp.company}</p>
						<div class="mt-2 mb-4 primary-badge">
							{exp.timeline}
						</div>
						<ul class="list-disc ms-5">
							{exp.description?.map((point) => (
								<li class="text-base-content/80">{point}</li>
							))}
						</ul>
					</div>
				))
			}
		</div>
	</section>

	<section class="mt-10">
		<h2>
			<span class="fancy-highlight">Education</span>
		</h2>
		<div class="flex flex-col gap-6 mt-2">
			{
				about.education.map((edu) => (
					<div>
						<h3>{edu.title}</h3>
						<p>{edu.institution}</p>
						<div class="mt-2 mb-4 primary-badge">
							{edu.timeline}
						</div>
						<ul class="list-disc ms-5">
							{edu.description.map((point) => (
								<li class="text-base-content/80">{point}</li>
							))}
						</ul>
					</div>
				))
			}
		</div>
	</section>
</Layout>
