---
import { about, header } from "../consts.ts";
import LucideIcon from "./LucideIcon.astro";

const navItems = [
	{ href: "/", label: "Home" },
	{ href: "/resume", label: "Resume" },
	{ href: "/projects", label: "Projects" },
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<header
	class="bg-base-300/30 sticky top-0 z-10 flex justify-center p-4 backdrop-blur-md"
>
	<div class="container flex items-center justify-between">
		<h2 class="hidden sm:block"><a href="/">{header.logoTitle}</a></h2>

		<nav class="flex gap-4">
			{
				navItems.map((item) => {
					const isActive =
						item.href === pathname ||
						item.href === "/" + (subpath?.[0] || "");

					return (
						<a
							href={item.href}
							class={`link font-medium ${isActive ? "link-primary" : ""}`}
						>
							{item.label}
						</a>
					);
				})
			}
		</nav>

		<div class="flex gap-2">
			{
				about.links.map((link) => (
					<a
						href={link.href}
						target="_blank"
						class="btn btn-soft btn-circle btn-accent"
						title={link.icon}
					>
						<LucideIcon name={link.icon} />
					</a>
				))
			}
		</div>
	</div>
</header>
