---
import { ChevronDown } from "@lucide/astro";
import { about, header } from "../consts.ts";
import type { NavItem } from "../types";
import LucideIcon from "./LucideIcon.astro";

const navItems: NavItem[] = [
	{ href: "/", label: "Home" },
	{ href: "/services", label: "Services" },
	{ href: "/resume", label: "Resume" },
	{ href: "/projects", label: "Projects" },
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<header
	class="bg-base-300/30 sticky top-0 z-10 flex justify-center p-4 backdrop-blur-md"
>
	<div class="container flex items-center justify-between">
		<h2 class="w-36"><a href="/">{header.logoTitle}</a></h2>

		<div class="dropdown dropdown-end sm:hidden">
			<div
				tabindex="0"
				role="button"
				class="btn btn-soft btn-accent rounded-field"
			>
				{
					navItems.find(
						(item) =>
							item.href === pathname ||
							item.href === "/" + (subpath?.[0] || ""),
					)?.label
				}
				<ChevronDown size="1rem" />
			</div>
			<ul
				tabindex="-1"
				class="menu dropdown-content bg-base-200 rounded-box z-1 mt-2 w-28 p-2 shadow-sm"
			>
				{
					navItems.map((item) => {
						const isActive =
							item.href === pathname ||
							item.href === "/" + (subpath?.[0] || "");

						return (
							<a
								href={item.href}
								role="button"
								class={`btn font-medium ${isActive ? "btn-accent" : "btn-ghost"}`}
							>
								{item.label}
							</a>
						);
					})
				}
			</ul>
		</div>

		<nav class="hidden sm:flex sm:gap-4">
			{
				navItems.map((item) => {
					const isActive =
						item.href === pathname ||
						item.href === "/" + (subpath?.[0] || "");

					return (
						<a
							href={item.href}
							class={`link font-medium ${isActive ? "link-primary" : ""}`}
						>
							{item.label}
						</a>
					);
				})
			}
		</nav>

		<div class="hidden sm:flex sm:gap-2">
			{
				about.links.map((link) => (
					<a
						href={link.href}
						target="_blank"
						class="btn btn-soft btn-circle btn-accent"
						title={link.icon}
						aria-label={link.icon}
					>
						<LucideIcon name={link.icon} />
					</a>
				))
			}
		</div>
	</div>
</header>
